@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.cont1{
    background: #1C7996;
    color: white;
}

.MainPara p{
    font-size: 20px;
    line-height: 2rem;
}
.MainPara strong{
  font-size: larger;  
}
a{
    color: white;
}

/*  */
.cont2{
    background: #1A5568;
    color: white;
}
.MainPara ol li{
    font-size: 20px;
}

/*  */
.cont3{
    background: #0E3541;
    color: white;
}
.innerCont1{
  background: #D9D9D9;
    color: black;
    border-right: 1px solid black;
}
 .innerCont2{
  background: #D9D9D9;
  color: black;
}


@media (max-width:890px){
    .MainPara p{
    line-height: 2rem !important;
    }
    ol li{
       line-height: 2rem;
       font-size: 15px;
    }
}